.alert{
  border-radius: 2px;
  padding: 8px 10px;
  margin: 5px 0;
  color: #eeeeee;

  &.danger{
    background: $danger;
  }

  &.success{
    background: $success;
  }

  &.default{
    background: $default;
    color: $dark;
  }
}