/**
================================================
================= CARD =========================
================================================
 */
.card{
  background-color: #ffffff !important;

  &.no-shadow{
    box-shadow: none !important;
    border: 1.3px solid rgba(0,0,0,0.1);

    &:hover{
      box-shadow: none !important;
    }
  }

  .card-content{

    .small-header{
      color: $dark;
      font-size: 14pt;
    }

    .card-image{
      i.material-icons.custom{
        color: $dark;
        font-size: 55pt;
      }

    }
  }

  .card-title.modernize{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    color: $dark !important;
  }

  &:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.1) !important;
  }
}
/**
================================================
=================== CARD =======================
================================================
 */


/**
================================================
================= MODERN CARD ==================
================================================
 */
.modern-card{
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 4px;
  margin: 10px 0;

  a.linkify{
    position: relative;
    width: 100%;
    height: 100%;
  }

  &:hover{
    .modern-card-image .modern-overlay{
      background: rgba(0,0,0,0.8) !important;
    }
    .modern-card-body{
      color: $greenLight !important;
    }
  }

  .modern-card-image{
    position: relative;
    width: 100%;

    .modern-overlay{
      position: absolute;
      width: 100%;
      height: 97%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.6);
      z-index: 90;
      transition: ease-in .1s;
    }

    img.modern-image{
      width: 100%;
      height: 100%;
    }
  }

  .modern-card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #eeeeee;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      font-size: 18pt;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
/**
================================================
================ MODERN CARD ===================
================================================
 */



/**
================================================
=================== HR CARD ====================
================================================
 */

.hr-card{
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);

  .row{
    margin-bottom: 0 !important;
  }

  .image{
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 200px;

    img{
      width: 100%;
    }
  }

  .card-body{

    .title{
      color: $dark;
      font-size: 16pt;
      display: block;
    }

    .rating{
      display: flex;
      margin-top: 10px;

      .icon{
        margin: 0 0 10px 0;
        display: flex;

        &.danger{
          color: $danger;
        }

        &.success{
          color: $success;
        }

        i.material-icons{
          padding: 0 2px;
          color: inherit;
          cursor: pointer;

          &:hover{
            opacity: .8;
          }
        }

        span{
          color: inherit;
          margin: 0 5px;
          font-weight: bold;
        }
      }
    }

    .category-list{

      span{
        margin-right: 3px;
        color: #666;

      }
    }

    .info{
      margin-top: 5px;
      color: #666666;
      display: block;
      span{
        display: block !important;

        &.status{
          font-weight: bold;

          &.danger{
            color: $danger;
          }

          &.success{
            color: $success;
          }
        }
      }
    }

  }
}

/**
================================================
=================== HR CARD ====================
================================================
 */




/**
================================================
================= IMAGE CARD ===================
================================================
 */

.image-card{
  height: 500px;

  img{
    height: 100%;
  }
}

/**
================================================
================= IMAGE CARD ===================
================================================
 */



/**
================================================
============== BASIC MODERN CARD ===============
================================================
 */

.card.basic.modernize{
  box-shadow: none !important;
  border: 1.3px solid rgba(0,0,0,0.1);

  a.edit-btn{
    position: absolute;
    right: 0;
    top: 0;
    color: $dark;
    border-left: 1px solid rgba(0,0,0,0.14);
    border-bottom: 1px solid rgba(0,0,0,0.14);
    padding: 2px 5px;
    display: flex;
    align-items: center;
    border-radius: 0px 0 0 2px;
    transition: ease-in .1s;

    .material-icons{
      font-size: 16pt;
    }

    &:hover{
      background: rgba(0,0,0,0.05);

      .material-icons{
        color: $greenLight;
      }
    }
  }

  .card-content{
    padding: 5px 10px !important;
    .card-title{
      font-size: 13pt;
    }

    p{
      margin-bottom: 6px;
    }
  }
}

/**
================================================
============== BASIC MODERN CARD ===============
================================================
 */




/**
================================================
================= MEDIA QUERIES ===================
================================================
 */
@media (min-width: $large) {
  .card.custom{
    height: 200px;
  }
}

@media (min-width: $medium) and (max-width: $large) {
  .cardc.custom{
    height: 180px !important;
  }
}

@media (min-width: $small) and (max-width: $medium) {
  .card.custom{
    height: 170px;
  }
}


@media (max-width: $small) {
  .hr-card{
    //box-shadow: 0 0 20px rgba(0,0,0,0.2);
    .card-body{
      width: 90%;
      margin: auto;
    }
  }
}

/**
================================================
================= MEDIA QUERIES ===================
================================================
 */