@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "breakpoints";

/* ------ COLORS ------ */

$dark: #444444;
$greenLight: #0ee9c3;
$danger: #d9534f;
$success: #5cb85c;
$default: #f9f9f9;

/* ------ COLORS ------ */


/* ------ GLOBALS ------ */
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  color: $dark;
  background: #eeeeee;
}

*{
  box-sizing: border-box !important;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

li, ul{
  list-style: none;
}

.container-fluid{
  position: relative;
  width: 90%;
  margin: auto;
  max-width: 1320px;
}


.page-wrapper{
  position: relative;
  top: 65px;
}

.m-auto{
  margin: auto !important;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}

.bg-white{
  background: #ffffff !important;
}

.p-20-0{
  padding: 20px 0 !important;
}

.small-subheader{
  display: block;
  color: $dark ;
  font-size: 12pt;
  padding: 5px 0 !important;
}


.bg-green-light{
  background: $greenLight !important;

  &:hover{
    background: #0CC1A1 !important;
  }
}

.color-green-light{
  color: $greenLight !important;
}

.flex{

  span{
    margin-right: 5px;
  }
}

span{
  display: block;

  &.status{
    font-weight: bold;

    &.danger{
      color: $danger;
    }

    &.success{
      color: $success;
    }

    &.attention{
      color: #FFAA00;
    }

  }
}

.row-header{
  font-size: 15pt;
  color: #222222;
  margin: 5px 0;
}


.flex.pad-around{
  a{
    padding: 0 10px;
  }
}

.line{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


@media (max-width: $small) {
  .overflow-x-visible{
    overflow-x: scroll !important;
  }

  .row-header{
    text-align: center;
  }
}