$default-height: 40px;

input[type="text"].modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

input[type="tel"].modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

input[type="time"].modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

input[type="email"].modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

input[type="password"].modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

div.input-field.search{
  position: relative;

  i.material-icons{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 7px;
    display: flex;
    align-items: center;
    color: $dark;
  }

  input.modernize.search{
    border: 1px solid rgba(0,0,0,0.1) !important;
    background: #ffffff !important;
    padding: 30px 10px !important;
    font-size: 18pt;
    color: $dark;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);

    &:after{
      display: block;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      -webkit-transition: .2s opacity ease-out, .2s color ease-out;
      transition: .2s opacity ease-out, .2s color ease-out;
    }
  }
}

input[type="submit"].modernize, button[type="submit"].modernize{
  height: $default-height;
  border: none !important;
  background: #333333;
  padding: 5px 10px;
  color: #eeeeee;
  border-radius: 0 3px 3px 0;

  &:hover{
    background: #222;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

textarea.modernize{
  height: $default-height;
  font-family: 'Roboto', Helvetica, sans-serif !important;
  background: #eeeeee !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;

  &::placeholder{
    color: #999999 !important;
  }
}

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
  border: 1px solid $greenLight !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}