@import "breakpoints";

.showcase{
  position: relative;;
  min-height: 300px;
  padding-bottom: 20px;


  &#mobileversion{

    .showcase-content{
      color: $dark;
      text-align: left;

      .heading{

      }

      .col#content{
        padding-top: 5%;
      }
    }
  }

  &.bg{
    background: url("../img/bg-delivreo.jpg") center;
    background-size: cover;

    &.owner{
      background: url("https://res.cloudinary.com/dqwg570oo/image/upload/v1540311324/businessman.jpg") no-repeat !important;
      background-size: cover !important;
    }
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .87;
    background-image: linear-gradient(to top, #0ee9c3, #00eacb, #00ead3, #01ebdb, #12ebe2);

    &.black{
      background-image: linear-gradient(to top, #222, #222);
    }
  }

  .showcase-heading{
    text-align: center;
    margin: 30px 0 !important;

    .heading{
      font-size: 30pt;
    }
  }

  .showcase-content{
    position: relative;
    padding: 15% 0;
    text-align: center;
    color: #eeeeee;

    &.no-padding{
      padding: 0 !important;
    }

    .slogan{
      font-size: 30pt;
    }
    .sub-slogan{
      font-size: 18pt;
    }

    form{
      width: 50%;
      margin: 20px auto;
    }
  }
}

@media (max-width: $small) {
  .showcase.showcase-bg{
    height: 100% !important;
  }

  .showcase-heading{

    .heading{
      font-size: 18pt !important;
    }
  }

  #content{

    .heading{
      font-size: 18pt !important;
    }
  }

  .showcase-content{
    padding-top: 20% !important;

    .slogan{
      font-size: 20pt !important;
      margin: 10px 0;
    }

    .sub-slogan{
      font-size: 13pt !important;
    }

    form{
      width: 90% !important;
    }
  }
}

@media (min-width: $small) and (max-width: $medium) {
  .showcase{

    .showcase-content{

      .slogan{
        font-size: 24pt;
      }

      .sub-slogan{
        font-size: 17pt;
      }

      form{
        width: 70%;
      }
    }
  }
}