@import "globals";

.page-wrapper {
  top: 80px !important; }

.card#checkout .row {
  margin-bottom: 0 !important; }
.card#checkout a.modernize {
  font-weight: bold; }


@media (max-width: $small) {
  .card#checkout{

    .card-content{

      .menu-name{
        font-size: 9pt !important;
      }

      .menu-price{
        font-size: 8pt !important;
      }
    }
  }
}