.credit-card-form{
  //display: none;
  margin-top: 20px ;
  height: 0px;
  transition: ease-in .3s;
  opacity: 0;

  &.active{
    //display: block;
    height: 150px !important;
    opacity: 1;
  }

}

.input-field.submit-wrapper{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.credit-card-icons{

  img{
    margin-left: 3px;
  }
}

