# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=076ccdf9d14bd30fc2a6cd2865cea4ef
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:chechen9598@localhost:3306/foodhub
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
#MAILER_URL=smtp://e1235f231663sdsb4412:5f2cd6sdsdadfgdg1c4e9fdc@smtp.mailtrap.io:2525
MAILER_URL=gmail://email@gmail.com:password@localhost
###< symfony/swiftmailer-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=secretPassPhrase
###< lexik/jwt-authentication-bundle ###
#38e4fad5d7f3779915f80c02c5752fa6


# STRIPE CONFIG
STRIPE_PUBLISHABLE_KEY=pk_test_kCM2fgdjl3PNoJzLSfI5T0lFNssE
# API KEY
STRIPE_SECRET_KEY=sk_test_lI3Jr9GT1JdfgdfjhAQb6lclzppHBmh
# CLIENT ID FOR DELIVEREO MARKETPLACE
STRIPE_CLIENT_ID=ca_E2NBCTLbP2MN2hCR0RBHuZsdadsdymch6LCH81


# OPENWEATHERMAP
OPENWEATHERMAP_API_KEY=a6dc19sdsgfgjhfdrsffhhhc919ea74c9c69466c56sdsdgbb64fa3de
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

FRONT_END_LOGIN=http://localhost:4200/login
