{% extends 'bundles/FOSUserBundle/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reinitialisation | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="row">
                        <div class="col s12">
                            <div class="container-fluid">
                                <h3 class="heading">Reinitialisation</h3>

                                <p>
                                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
