{% extends 'base.html.twig' %}

{% block title %}Confirmation | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="row">
                        <div class="col s12">
                            <div class="container-fluid">
                                <h3 class="heading">Confirmation</h3>
                                <p>
                                    Votre demande a bien été prise en compte et est en cours d'étude.
                                    Vous allez avoir la décision par email sous 48 heures.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}