{% extends 'base.html.twig' %}

{% block title %}Tableau de bord | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('restaurant.css') }}">
    <link rel="stylesheet" href="{{ asset('profile.css') }}">
{% endblock %}

{% block alerts %}
    {% include 'inc/errors/errors.html.twig' %}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="container-full">
            <div class="row">
                <div class="col s12 m4 l2 no-padding">
                    {% include 'owner/inc/sidebar.html.twig' %}
                </div>
                <div class="col s12 m8 l10">
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <div class="card stats-mini-card">
                                <div class="card-logo green-color">
                                    <i class="material-icons">euro_symbol</i>
                                </div>
                                <div class="stats-card-content">
                                    <span class="value">€1949</span>
                                    <span class="type">Revenus</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l3">
                            <div class="card stats-mini-card">
                                <div class="card-logo purple-color">
                                    <i class="material-icons">shopping_cart</i>
                                </div>
                                <div class="stats-card-content">
                                    <span class="value">948</span>
                                    <span class="type">Commandes</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l3">
                            <div class="card stats-mini-card">
                                <div class="card-logo blue-color">
                                    <i class="material-icons">equalizer</i>
                                </div>
                                <div class="stats-card-content">
                                    <span class="value">249</span>
                                    <span class="type">Vues</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l3">
                            <div class="card stats-mini-card">
                                <div class="card-logo orange-color">
                                    <i class="material-icons">people</i>
                                </div>
                                <div class="stats-card-content">
                                    <span class="value">73</span>
                                    <span class="type">Clients</span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="heading">Semaine</h4>
                                    <canvas id="salesChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('salesChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
                datasets: [
                    {
                        label: 'Revenus',
                        data: [12, 19, 3, 5, 2, 3, 34],
                        backgroundColor: [
                            'rgba(0, 194, 146, 0.7)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(0, 194, 146,0.7)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Clients',
                        data: [23, 12, 23, 43, 45, 34, 43],
                        backgroundColor: [
                            'rgba(251, 150, 120, 0.7)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(251, 150, 120,0.7)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Commandes',
                        data: [53, 88, 35, 87, 67, 64, 86],
                        backgroundColor: [
                            'rgba(171, 140, 228, 0.7)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(171, 140, 228,0.7)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Vues',
                        data: [67, 88, 96, 87, 123, 95, 154],
                        backgroundColor: [
                            'rgba(3, 169, 243, 0.7)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(3, 169, 243,0.7)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}