<div class="heading-breadcrumbs">
    <span class="step cart">Panier</span>
    <i class="material-icons">arrow_right</i>
    <span class="step checkout">Validation</span>
    <i class="material-icons">arrow_right</i>
    <span class="step complete">Terminée</span>
</div>