<div class="page-wrapper content-wrapper">
    <footer class="page-footer modernize">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="footer-title">
                        <a href="{{ path('homepage') }}">
                            Delivereo
                        </a>
                    </h5>
                    <p class="slogan">Trouvez vos restaurants préférés près de chez vous.</p>
                </div>
                <div class="col l3 s6">
                    <h5 class="col-title">À propos</h5>
                    <ul>
                        <li><a class="" href="#!">À propos</a></li>
                        <li><a class="" href="#!">Services</a></li>
                        <li><a class="" href="#!">Confidentialité</a></li>
                    </ul>
                </div>

                <div class="col s6 l3">
                    <h5 class="col-title">Professionnels</h5>
                    <ul>
                        <li><a href="{{ path('partner') }}">Devenez partenaire</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Delivereo - 2018 - Tous droits réservés
                <a class="right" href="#!">Conditions générales</a>
            </div>
        </div>
    </footer>
</div>