{% if is_granted('ROLE_CONSUMER') %}
    <span class="ville">Consommateur</span>
{% elseif is_granted('ROLE_OWNER') %}
    <span class="ville">Propriétaire</span>
{% elseif is_granted('ROLE_ADMIN') %}
    <span class="ville">Administrateur</span>
{% endif %}